/* Chapter 49-52 
Task 3*/
/* #form{
    z-index: 1;
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 500px;
    box-shadow: -5px 5px 10px 0px #888888;
    background-color: rgb(57, 206, 243);
    padding-left: 7%;
}
#inform{
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);

} */
